/frontend/node_modules
/frontend/build
#/frontend/.env

/staticfiles
/.env


# Python
*.pyc
__pycache__/

# Environment Variables
.env

# Virtual Environment
venv/
venv*/

# Django specific
db.sqlite3
staticfiles/

# Node.js
node_modules/

# Logs
*.log

# IDE and OS specific files
*.swp
.idea/
.vscode/
.DS_Store
Thumbs.db

# Other
*.zip

/myenv