body {
  margin: 0;
  font-family: "Josefin Sans" !important;
}

.main-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
  position: sticky;
  top: 20px;
}
.rating-system,
.must-reads {
  margin-top: 20px;
}
.rating-system p,
.must-reads p {
  margin: 0;
}
.must-reads img {
  width: 100%;
}
.rating-box {
  display: flex;
  align-items: center;
}
.rating-box img {
  width: 50px;
  margin-right: 10px;
}
.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reviews img {
  width: 20px;
  margin-right: 5px;
}

.category-listing {
  display: flex;
  border: 1px solid #d5d5d5;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 20%;
  height: 118px;
}

.category-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.category-link img {
  display: flex;
  max-width: 35px;
  max-height: 35px;
  width: auto;
  height: auto;
}

.category-link h5 {
  display: flex;
  text-decoration: none;
  -webkit-justify-content: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #2d2d2d;
}

.category-listing-ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.blog-heading {
  font-size: 22px;
  line-height: 34px;
  font-weight: bold;
  color: #2d2d2d;
}

.blog-heading-para {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #2d2d2d;
}

.blog-number {
  justify-content: center;
  transition: color 0.15s linear;
  word-break: break-all;
  font-size: 47px;
  line-height: 0.94;
  font-weight: 700;
  color: #d5d5d5;
}

.blog-title-heading {
  transition: color 0.15s linear;
}

.blog-para {
  letter-spacing: -0.38px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #797979;
}

img {
  width: 100%;
}

@media (min-width: 1200px) {
  .home.container {
    max-width: 1148px;
  }
}

a {
  text-decoration: none !important;
}

.tab-link {
  margin: 0px 10px 0px 10px;
  height: 80px;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: none;
  background: #ffffff;
  border: 1px solid #bababa;
  font-size: 16px;
  color: #000;
}

.tab-link1 {
  margin: 0px 10px 0px 10px;
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: none;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #d5d4d4;
  font-size: 16px;
  color: #000;
}

.tab-link .tab-icon {
  font-size: 24px;
}

.tab-link:hover {
  background: none;
  color: #007bff;
}

.tab-link.active {
  color: #007bff;
}

.category-item {
  border-radius: 7px;
  text-align: center;
  margin: 20px;
}

.category-item a {
  display: block;
  color: #007bff;
  margin-top: 5px;
  text-decoration: none;
}

.nav-bg {
  background: url("../../media/blog_images/digital-background-4.png");
  background-size: cover !important;
}

.home-bg {
  background: url("../../media/blog_images/digital-background-4.png");
  background-size: cover !important;
  min-height: 80vh;
}

.home-bg-banner {
  background: #ff4a64;
}

.banner-tabs-sub-heading {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.banner-tabs-sub-para {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #797979;
  /* padding: 0 10px 0 0; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.ellipsis-one-lines {
  display: -webkit-box; /* Fallback for older versions of Chrome/Safari */
  -webkit-box-orient: vertical; /* Fallback for older versions of Chrome/Safari */
  -webkit-line-clamp: 1; /* Number of lines to display before truncating */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Adjust based on your text styling */
  max-height: 3em; /* Adjust based on your text styling */
}

.ellipsis-two-lines {
  display: -webkit-box; /* Fallback for older versions of Chrome/Safari */
  -webkit-box-orient: vertical; /* Fallback for older versions of Chrome/Safari */
  -webkit-line-clamp: 2; /* Number of lines to display before truncating */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Adjust based on your text styling */
  max-height: 3em; /* Adjust based on your text styling */
}

.category-index {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 0;
  font-family: hurmegeometricsans_no3_6, Gilroy, Almarai, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  width: 39px;
  height: 39px;
  font-size: 27px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 600;
  background-color: #ff4a64;
  border-radius: 50%;
}

.accordian-color {
  background-color: #e8e8e8;
}

img:hover {
  filter: saturate(1.7);
}

.nav-pills .nav-item .tab-link{
  background-color: #fff;
  border: 1px solid #e9e7e7;
}

.navbar-nav .nav-item {
  font-weight: 700;
  margin: 0px 15px 0px 15px;
}

.footer {
  color: white;
  padding: 20px 0;
}
.footer a {
  color: #aaa;
  margin: 0 15px;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.footer .social a {
  font-size: 24px;
  margin: 0 10px;
}

.top5-prods {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.top5-prods__title {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 32px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.top5-prods__items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.top5-prods__item {
  display: -webkit-flex;
  display: flex;
  width: calc(100% - 13px);
  height: 45px;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: white;
  margin-bottom: 6px;
  padding-left: 10px;
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.2s linear;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none;
}
.top5-prods__item__icon-container {
  display: -webkit-flex;
  display: flex;
  margin-right: 10px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: white;
}

.top5-prods__item__icon,
.top5-prods__item__icon:empty {
  display: -webkit-flex;
  display: flex;
  width: 25px;
  height: 25px;
  background-color: white;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.top5-prods__item__name {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #2d2d2d;
}

.top5-prods__item__link {
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
  background-color: #010233;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  right: -13px;
  min-width: 27px;
  width: 27px;
  height: 27px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
}
.top5-prods__item__link__arrow {
  display: -webkit-flex;
  display: flex;
  margin-left: -2px;
  width: 7px;
  height: 16px;
}

.tabs-parent {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tabs-child {
  cursor: pointer;
  white-space: nowrap;
}

.inner-box-shadow {
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
}

.tabs-parent {
  min-height: 96px;
}

.tags-container {
  margin-bottom: 35px;
  position: relative;
}

.tag-title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 17px;
  margin: -0.12em 0 0 0;
  overflow: hidden;
}

.tags-small-container a {
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1;
  padding: 9px 16px;
  margin-right: 6px;
  margin-bottom: 13px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #b0b0b0;
}

.tags-small-container a:hover {
  background-color: #4b1175;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.widget_categories ul
{
  padding-left: 0rem;
  list-style: none;
  margin-bottom: 50px;
}

.widget_categories ul li a {
  display: block;
  background-color: #dadada;
  color: #000;
  margin: 0;
  padding: 16px 45px 19px 27px;
  font-size: 16px;
  line-height: 1.313;
  font-weight: 700;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}

.widget_categories ul li a:hover {
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 16px 45px 19px 27px;
  font-size: 16px;
  line-height: 1.313;
  background-color: #4b1175;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
